                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>{{{name}}}</strong></div>

                            <div class="panel-body">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-info"   ><input type="radio" name="{{_id}}" value="0" />I Don't Know</label>
                                    <label class="btn btn-primary"><input type="radio" name="{{_id}}" value="1" />Strongly Agree</label>
                                    <label class="btn btn-success"><input type="radio" name="{{_id}}" value="2" />Agree</label>
                                    <label class="btn btn-warning"><input type="radio" name="{{_id}}" value="3" />Disagree</label>
                                    <label class="btn btn-danger" ><input type="radio" name="{{_id}}" value="4" />Strongly Disagree</label>
                                </div>
                            </div>
                        </div>
                    </div>